<template name="userLogin">
  <form class="form-inline" id="usernameForm">
    <div class="form-group">
      <label for="roomName">Choose Username</label>
      <input type="text" class="form-control" id="username" placeholder="Choose Username">
    </div>
    <button type="submit" class="btn btn-primary create">Create username!</button>
  </form>
</template>

<template name="userLoginLink">
  <p>{{room.username}} wants to play a game of jankenpo</p>
  <form class="form-inline" id="usernameForm">
    <div class="form-group">
      <label for="roomName">Choose Username</label>
      <input type="text" class="form-control" id="username" placeholder="Choose Username">
    </div>
    <button type="submit" class="btn btn-primary create">Create username!</button>
  </form>
</template>